<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Visitor Data Information</title>
   <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src = "hw6controller.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular-cookies.min.js"></script>
</head>
</head>

<body>
    <h1>Please go and choose the information you need.</h1>
    <div style="width:40%; margin-left: 10%" ng-app="signupApp" ng-controller="signupCtrl" data-ng-init="hitcounter()">
	<div style= "width: 100%;margin-top: 20%; right:0; border: 2px solid black">
		<p>Total number of visitor of last minute is {{visitorPerLastMinute}}</p>
	 	<p>Total number of visitor of current minute is {{visitorPerMinute}}</p>
		<p>Total number of visitor of last hour is {{visitorPerLastHour}}</p>
		<p>Total number of visitor of current hour is {{visitorPerHour}}</p>
		<p>Total number of visitor of last Day is {{visitorPerLastDay}}</p>
		<p>Total number of visitor of current day is {{visitorPerDay}}</p>
		<p>Total number of visitor of current year is {{visitorPerYear}}</p>	
		<p>Enter specific time to get visitor data follow this format(yyyy-MM-dd HH:mm),if you only need the monthly data, please only enter until month, for example August 2016, enter "2016-08": <br>
		<input type="text" ng-model="visitorbytime" placeholder="yyyy-MM-dd HH:mm"></p>
		<button type="button" class="btn btn-primary" ng-click="getvisitordata()">Get Data</button>
		<p>Here is the number of visitors at the time you requested: {{visitorRequestByTime}}</p>
	</div>

    </div>
</body>


</html>
